// Colors
$text-color: #002855;
$heading-color: #111;
$bg-light: #f7f7f7;
$bg-dark: #023E7D;
$border-color: #e5e5e5;
$main-color: #00aeef;




// Fonts
$body-font: 'Pt Serif', serif;
$heading-font: 'Montserrat', sans-serif;
$alt-font: 'Open Sans', sans-serif;
$body-font-size: 15px;